.textAlign {
	text-align: center;
}

/* Styles pour l'en-tête */
header {
	position: relative;
}

header img {
	width: 100%;
	height: auto;
}

/* Styles pour la barre de navigation */
nav {
	background-color: #042e24;
	color: #fff;
	display: flex;
	align-items: center;
	height: 60px;
}

nav .logo {
	margin-right: auto;
	padding: 0 20px;
}

nav .logo img {
	height: 40px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	color: #5cd6a7;
}

nav::before {
	content: "";
	margin-bottom: 64px;
	width: 100vw;
	height: 4vh;
	background: linear-gradient(to right, #57c3f2, #67cefa);
	animation: slide 10s infinite;
}

@keyframes slide {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.btn {
	display: inline-block;
	justify-content: space-between;
	background-color: #134f2c;
	color: white;
	padding: 10vh 20vw;
	text-decoration: none;
	border-radius: 15px;
}

.btn:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	background-color: #40e088;
	opacity: 0;
	border-radius: 100%;
	transform: translate(-50%, -50%);
}

.btn:hover:after {
	width: 150%;
	height: 500%;
	opacity: 0.5;
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out,
		opacity 0.5s ease-in-out;
}

.btn:before {
	content: "";
	border-radius: 15px;
	border: 20% solid transparent;
	animation: pulse 2s infinite;
}

.alignItemsCenter {
	display: flex;
	justify-content: center;
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}
footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #042e24;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	font-size: x-small;
}

@media screen and (max-width: 600px) {
	table {
		width: 100%;
	}
}
